## Import
> Here we import from the google drive, rather from from a local machine

In [ ]:
import pandas as pd

pd.set_option('display.max_rows', 200)

In [ ]:
# import a listings file (once the google drive is mouned)

file = "/content/drive/My Drive/JOMEC/FILES_FOR_CLASSES_2020/MSc/airbnb_dublin/summary_listings.csv"

df = pd.read_csv(file)

## Look at -- and clean

In [ ]:
# number of rows, cols

df.shape

In [ ]:
# or, how long is this df?

len(df)

In [ ]:
# what are the columns / variables?

df.columns

In [ ]:
# in a vertical list please

df.columns.to_list()

In [ ]:
# show me the datatype of each column

df.info()

In [ ]:
# show me the top of the dataframe

# df.head(2)

df[:3]

In [ ]:
# cast last_review column to datetime

df.last_review = df.last_review.astype('datetime64[ns]')

In [ ]:
# check that column is now datetime

df.last_review.dtypes

In [ ]:
# what are the 'smallest' and 'biggest' dates in the df?

print(df.last_review.min())
print(df.last_review.max())

In [ ]:
# count the NULL in all cols of df - what columns have 'problems'?

df.isnull().sum()

## Analysis

In [ ]:
# show me the first two rows

df[:2]

In [ ]:
# how many neighbourhoods, and which appear most often?

df.neighbourhood.value_counts()

In [ ]:
# how many neighbourhoods?

len(df.neighbourhood.value_counts())

In [ ]:
# show me a sample of the rows

df.sample(5)

In [ ]:
# average (mean) price?

df.price.mean()

In [ ]:
# median price?

df.price.median()

In [ ]:
# lowest figure in price col

df.price.min()

In [ ]:
# filter for any rows where price = 0

df[df.price == 0]

In [ ]:
# sort entire df by price column, most expensive at the top - just show ten

df.sort_values(by = 'price', ascending = False).head(10)

In [ ]:
# what's the biggest number of reviews a property has gotten?

df.number_of_reviews.max()

In [ ]:
# filter for any rows that have that many reviews under 'number_of_reviews'

df[df.number_of_reviews == 688]

In [ ]:
# how many rows in this df, again?

len(df)

In [ ]:
# how many different host ids are there?

df.host_id.nunique()

In [ ]:
# which host_ids appear the most often (top ten please)

df.host_id.value_counts().head(10)

In [ ]:
# filter host_id for this particular id please

df[df.host_id == 160402201].head(10)

In [ ]:
# biggest longitude, so furthest east

df.longitude.max()

In [ ]:
# lowest longitude, so furthest west

df.longitude.min()

In [ ]:
df.latitude.max()

In [ ]:
df.latitude.min()

In [ ]:
# filter for the property that has the lowest latitude

df[df.latitude == 53.20836]