### Run the cells in the first section ("Run these cells") just to get the variable 'd' up and running, then ignore them

## Run these cells

In [2]:
# import the pandas library

import pandas as pd

In [3]:
# upload the two files from your local machine (or just one but then adjust the next cell accordingly)
path = '/Users/aidanadmin/Documents/Data/ALL_DATASETS/'

file = 'allotments_metros.csv'
file2 = 'allotments_london.csv'

metro = pd.read_csv(path + file)
lon = pd.read_csv(path + file2)

In [4]:
# extract a dictionary of keys and values from the dataframe

d = pd.DataFrame.to_dict(metro, orient = 'records')

In [5]:
# how many elements in this list of dictionaries?

print(len(d))

36

## Write your function using your dictionary d

In [16]:
 # what exactly is 'd'? (you could just look at it too)
 type(d)

list

In [163]:
# what's the third item in this list?

d[2]

{'Metropolitan Council': 'Bolton Borough Council ',
 'Metropolitan county': 'Greater Manchester',
 'Population': '296,000',
 'Number of sites (Council run)': 36.0,
 'Number of sites (Independent run)': 'Not held',
 'Number of plots (Council run)': '944',
 'Number of plots (Independent run)': 'Not held',
 'Approx total acres': 'Not held',
 'Average cost of a plot (annually)': '£70 ',
 'Lowest cost of a plot or partial plot (annualy)': '£10.71',
 'Highest cost of a plot (annually)': '£119.28',
 'Discounts available for consessions/groups? (Y/N)': 'Y',
 'Are any plots immediately available? Y/N': 'N',
 'Are any waitlists currently closed? Y/N\nHow many waitlists are currently closed?': 'Y',
 'Additional notes': '36 wait lists closed.\nMany are unavailable for 5 years even.\nHighest cost of a plot £326.74 (horse plot which is a combination of plots together) or £119.28 (single plot)'}

In [ ]:
# what kind of thing is one of the items in the list?

In [17]:
type(d[2])

dict

In [18]:
# can I drill into a single dictionary and get the value for a key: 'population' for example?

d[2]['Population']

'296,000'

In [ ]:
# can I loop through the list and do something simple with each element, like print it?
for x in d:
  print(x)

In [ ]:
# can I loop through the list and instead of printing each dictionary completely, just print part of it, the value for 'Population' for example?
for x in d:
  print(x['Population'])

In [ ]:
# can I loop through the list and print several parts?
for x in d:
  print(x['Metropolitan Council'])
  print(x['Population'])
  print(x['Number of plots (Council run)'])

In [ ]:
# can I add an if statement to only do this if a condition is met? (ATT: the council names seem to have an empty space at the end in this dataset)

for x in d:
  if x['Metropolitan Council'] == 'Bolton Borough Council ':
    print(x['Population'])
    print(x['Number of plots (Council run)'])
  else:
    print('nope')

In [31]:
# assign the values to variables, lose the 'nope'
for x in d:
  pop = x['Population']
  plots_nb_c = x['Number of plots (Council run)']
  if x['Metropolitan Council'] == 'Bolton Borough Council ':
    print(pop)
    print(plots_nb_c)
  else:
    pass  # do nothing

296,000
944

In [34]:
# Put the two values into an f-string

for x in d:
  pop = x['Population']
  plots_nb_c = x['Number of plots (Council run)']
  if x['Metropolitan Council'] == 'Bolton Borough Council ':
    print(f'There are {pop} people in Bolton Borough Council and the council runs {plots_nb_c} allotments')
  else:
    pass  # do nothing (we don't actually need this. We could just leave out the 'else' part)

There are 296,000 people in Bolton Borough Council and the council runs 944 allotments

In [132]:
# Put this code into a function where the argument is the exact name of the council

def make_info(place):

  for x in d:
    pop = x['Population']
    plots_nb_c = x['Number of plots (Council run)']

    # if the value for 'Metropolitan Council' is the same as the argument put in by the user...
    if x['Metropolitan Council'] == place:
      # use the 'place' argument / variable as the place name
      return f'There are {pop} people in {place} and the council runs {plots_nb_c} allotments'

In [133]:
# works as a function

make_info('Bolton Borough Council ')

'There are 296,000 people in Bolton Borough Council  and the council runs 944 allotments'

In [60]:
# works for any place

make_info('Bury Borough Council ')

There are 193,900 people in Bury Borough Council  and the council runs 17 allotments

## Refine

In [134]:
# Make a new function - if the user only puts in 'Bolton' we should get a result

def make_info_refined (place):

  for x in d:
    pop = x['Population']
    plots_nb_c = x['Number of plots (Council run)']

    # if the argument from the user IS CONTAINED IN (we just use 'in') the value for x['Metropolitan Council']...
    if place in x['Metropolitan Council']:
      # use the 'place' argument / variable as the place name
      return f'There are {pop} people in {place} and the council runs {plots_nb_c} allotments'

In [135]:
make_info_refined('Bolton')

'There are 296,000 people in Bolton and the council runs 944 allotments'

In [136]:
# if the user puts in 'bolton' with a lowercase B, it fails

make_info_refined('bolton')

In [137]:
# should handle Bolton or bolton

def make_info_refined (place):

  for x in d:
    pop = x['Population']
    plots_nb_c = x['Number of plots (Council run)']
    # assign this part to a variable
    loc = x['Metropolitan Council']

    # if the user's word is in our variable loc OR our variable loc all in lowercase
    if place in loc or place in loc.lower():
      # use the 'place' argument / variable as the place name

      return f'There are {pop} people in {place} and the council runs {plots_nb_c} allotments.'

In [138]:
# test

make_info_refined('manchester')

'There are 551,900 people in manchester and the council runs 2781 allotments.'

In [172]:
# remind me what's in one of these dictionaries

d[15]

{'Metropolitan Council': 'North Tyneside Borough Council ',
 'Metropolitan county': 'Tyne and Wear',
 'Population': '209,000',
 'Number of sites (Council run)': 48.0,
 'Number of sites (Independent run)': '13',
 'Number of plots (Council run)': '1308',
 'Number of plots (Independent run)': '768',
 'Approx total acres': '135',
 'Average cost of a plot (annually)': '£110 ',
 'Lowest cost of a plot or partial plot (annualy)': '£21.50',
 'Highest cost of a plot (annually)': '£316.20',
 'Discounts available for consessions/groups? (Y/N)': 'N',
 'Are any plots immediately available? Y/N': 'N',
 'Are any waitlists currently closed? Y/N\nHow many waitlists are currently closed?': 'N',
 'Additional notes': nan}

In [173]:
# Add copy to the function

def make_info_refined (place):

  """function that takes a string as argument and, if that string is contained in one of the council areas in the dataset, returns some information for
  that council area"""

  for x in d:
    loc = x['Metropolitan Council']
    pop = x['Population']
    sites_c = x['Number of sites (Council run)']
    sites_i = x['Number of sites (Independent run)']
    plots_nb_c = x['Number of plots (Council run)']
    plots_nb_i = x['Number of plots (Independent run)']
    acres = x['Approx total acres']
    av_cost = x['Average cost of a plot (annually)']

    if place in loc or place in loc.lower():

      return f'The council in {place} runs {plots_nb_c} allotments over {sites_c} sites for a population of about {pop}. There are also {sites_i} independently-run sites, with {plots_nb_i} allotments. This makes for {acres} acres of allotments in all for {place}. The annual cost of one of these, on average, is {av_cost}.'

In [174]:
# works when we have data for all variables

make_info_refined('Salford')

'The council in Salford runs 143 allotments over 9.0 sites for a population of about 269,900. There are also 17 independently-run sites, with 497 allotments. This makes for 44.65 acres of allotments in all for Salford. The annual cost of one of these, on average, is £66.11 .'

In [175]:
# BUT has problems when we're missing data

make_info_refined('Leeds')

'The council in Leeds runs 913 allotments over 46.0 sites for a population of about 812,000. There are also 58 independently-run sites, with Not held allotments. This makes for 37.4 acres of allotments in all for Leeds. The annual cost of one of these, on average, is £46.42 .'

In [171]:
make_info_refined('London')

## ---------------------------- The End (for now)---------------------------

## Further development?
> Not necessarily in this order!!

- some variables are are Y/N so to include them we probably need an if / else
- sometimes we get 'Not held' instead of a number in our text. Needs an if / else with an alternative sentence.
- we could return a total number of plots (council and independent)
- we could calculate and return some rate of plots per head of population
- some numbers come back as floats (36.0) when integers would read better
- Coventry has 0 sites but lots of plots? (the only case)
- Many style guides would expect numbers below 10 to be written out fully
- Average plot cost has a trailing space which needs fixing
- Should return a message if the user enters something we don't have in the data, Dublin for example